<div *ngIf="isLoading" class="text-center p-4">
  <i class="fa fa-spinner fa-spin"></i> Cargando datos de la tabla...
</div>

<c-smart-table
  *ngIf="!isLoading"
  [activePage]="1"
  [columnSorter]="true"
  [columns]="columns"
  [columnFilter]="true"
  [itemsPerPageSelect]="true"
  [itemsPerPage]="10"
  [items]="tableData"
  [sorterValue]="{ column: 'potencia', state: 'desc' }"
  [tableFilter]="true"
  [tableProps]="{ hover: true, striped: true, responsive: true }"
  [tableBodyProps]="{ align: 'middle' }"  
  clickableRows
  footer
  header
  pagination
>
  <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
    <td>
      @switch (columnName) {
        @case ('voltaje') {
          {{ tdContent }} V
        }
        @case ('corriente') {
          {{ tdContent }} A
        }
        @case ('potencia') {
          {{ tdContent }} W
        }
        @default {
          {{ tdContent }}
        }
      }
    </td>
  </ng-template>
</c-smart-table>
